body{
    font-family: Arial, sans-serif;
}
nav{
     width: 100%;
     height: 60px;
     background: #344051;
    position: fixed;
    
}
.logo{
    color: #fff;
    font-size: 23px;
    line-height: 60px;
    padding-left: 388px; 
    float: left;
    animation: coming 2s ease;
    display: block;
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 39px;
    font-size: 14px;
    text-transform: uppercase;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat;
    
}
.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}
.menu li a{
    transition: all 0.4s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    background: #f79b21;
    margin-top: 20px;
    margin-right: 0px;
    text-align: center;
    height: 60px;
    width: 80px;
    color: #fff;
}
.menu li a:active{
    transform: scale(1.2);
}
.title_container input{
    transition: all 0.2s;
    transform: scale(1);
}
.title_container input:hover{
    background: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(1.1);
}

@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s
}
.menu li:nth-child(3){
    animation-delay: 0.8s
}
.menu li:nth-child(4){
    animation-delay: 1.2s
}
.menu li:nth-child(5){
    animation-delay: 1.6s
}
.menu li:nth-child(6){
    animation-delay: 2.0s
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
}
.about_me{
    text-align: center;
}
.about_me h2{
    font-size: 35px;
    font-weight: bold;
    color: #263244;
    text-transform: uppercase;
    margin: 110px 0px 0px 0px;
}
.about_me img{
    margin: 30px 0px 30px 0px;
}
.about_me a img{
    transform: scale(1);
}
.about_me a img:active{
    transform: scale(1.1);
}
.text_1{
    font-size: 14px;
    text-align: left;
    margin: 0px 0px 42px 596px;
    color: #3f495a;
}
.text_2{
    font-size: 14px;
    text-align: left;
    margin: 0px 0px 38px 596px;
    color: #3f495a;
}
.about_me {
    padding: 0px 0px 67px 0px;
}
.what_I_can{
    text-align: center;
    height: 560px;
    width: 100%;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png) center/cover no-repeat; 
    background-attachment: fixed;
}
.what_I_can h2{
    font-size: 35px;
    font-weight: bold;
    color: #263244;
    text-transform: uppercase;
    padding: 107px 0px 31px 0px;
}
.options{
    float: left;
    padding-left: 418px;
}
.options li{
    float: left;
    line-height: 18px;
    margin-right: 85px;
    height: 163px;
    width: 213px;
}
.options h3{
    font-size: 18px;
    color: #cf7600;
    margin:  34px 0px 17px 0px;
}
.options img{
    margin: 102px 0px 0px 0px;
}
.options p{
    margin: 0px 0px 92px 0px;
}
.cases{
    text-align: center;
}
.cases h2{
    font-size: 35px;
    font-weight: bold;
    color: #263244;
    text-transform: uppercase;
    padding: 106px 0px 32px 0px;
}
.cases img{
    padding: 0px 0px 37px 0px;
}
.cases a img{
    transform: scale(1);
}
.cases a img:active{
    transform: scale(1.2);
}
.cases h4{
    padding: 0px 0px 42px 0px;
}
.cases p{
    
    padding: 0px 0px 40px 60px;
}
.client{
    float: left;
}
.client h3{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #384354;
    padding: 0px 0px 14px 390px;
}
.client p{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #636a76;
    padding: 0px 0px 14px 389px;
}
.client a{
   padding: 24px 82px 201px 390px;
}
.name p{
    text-align: left;
    padding: 14px 0px 276px 0px;
    font-size: 16px;
    color: #3f495a;
    line-height: 18px; 
}
.name h3{
    text-align: left;
    font-size: 25px;
    
    color: #384354;
}
.calculation{
    text-align: left;
}
.calculation h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #263244;
    padding: 0px 0px 55px 0px;
}
.calculation h3{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 0px 22px 495px;
    color: #1c2534;
}
.calculation select{
    border: 1px solid #000;
    margin: 0px 0px 44px 495px;
    width: 893px;
    height: 59px;
    background: #eeeeee;
    padding: 0px 0px 0px 26px;
    font-size: 14px;
    color: #7d7d7d;   
}
.time{
    text-align: left;
    margin: 0px 0px 25px 495px;
    border-top: 2px solid #d1d1d1;
    width: 893px;
    
}
.time p{
    padding: 24px 0px 22px 0px; 
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 24px 0px 20px 0px; 
    word-spacing: 813px;
    color: #1c2534;
}
.time span{
    padding: 24px 0px 22px 0px; 
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 24px 0px 0px 0px; 
    word-spacing: 767px;
    color: #1c2534;
}
.statistics{
    text-align: center;
    height: 500px;
    width: 100% ;
    background: url(../img/%D0%A4%D0%BE%D0%BD1.png) center/cover no-repeat;
    background-attachment: fixed;
    margin: 152px 0px 106px 0px;
}
.statistics h2{
    text-align: center;
    padding: 104px 0px 33px 0px; 
    font-size: 35px;
    font-weight: bold;
    color: #263244;
}
.h2{
    text-align: center;
    padding: 0px 0px 84px 0px;
}
.statistics li{
    float: left;
    line-height: 18px;
    margin-right: 60px;
    height: 155px;
    padding-left: 240px;
    
}
.statistics p{
    text-align: center;
    font-size: 18px;
    color: #444e5d;
    padding: 30px 0px 102px 0px;
}
.statistics h3{
    text-align: center;
    padding: 32px 0px 0px 0px;
    color: #323e4f;
    font-size: 35px;
    font-weight: bold;
}
.reviews{
    text-align: center;
}
.reviews h2{
    font-size: 35px;
    font-weight: bold;
    color: #243042;
    padding: 0px 0px 35px 0px;
}
.one_foto p{
    font-size: 18px;
    line-height: 16px;
    color: #525965;
    padding: 35px 0px 35px 0px;
    
}
.one_foto img{
    padding: 60px 0px 0px 0px;
}
.the_and p{
    font-size: 18px;
    color: #525965;
    padding: 0px 0px 49px 0px;
}
.contacts{
    text-align: center;
    background: url(../img/%D0%A4%D0%BE%D0%BD2.png)center/cover no-repeat;
    height: 910px;
    margin-top: 92px;
}
.contacts h2{
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    padding: 106px 0px 31px 0px;
    text-align: center;
}
.line{
   text-align: center;
   color: #fff;
   font-size: 16px;
}
.line p{
    padding-top: 30px;
}
.contacts li{
    float: left;
    line-height: 25px;
    text-align: center;
    margin: 46px 0px 0px 360px;
    font-size: 16px;
    color: #e9e9ea;
}
.class img{
    padding: 0px 0px 14px 0px;
}
.neo{
    width: 100%;
    height: 96px;
    background-color: #354051; 
}
.neo p{
    color: #ffffff;
    padding: 42px 0px 41px 0px;
    text-align: center;
    font-size: 16px;
}
.class{
    height: 160px;
}
.class li{
    transform: scale(1);
}
.class li:hover{
    transform: scale(1.1);
}
.contacts h4{
    font-size: 25px;
    color: #ffffff;
    padding: 36px 0px 45px 0px
}
.message input{
    height: 35px;
    width: 353px;
    margin: 0px 15px 13px 15px;
    padding: 12px 0px 14px 14px;
    
}
.message input{
    background: #d2d6dc;
}
.sms input{
    height: 95px;
    width: 737px;
    margin: 0px 0px 30px 0px;
    padding: 11px 0px 74px 15px;
    
}
.sms input{
    background: #d2d6dc;
}
.send input{
    height: 46px;
    width: 124px;
    border: 2px solid #f9faff;
    background: none; 
    color: #fff;
    border-radius: 5px;
}
.send input{
    transform: scale(1);
}
.send input:hover{
    background: #fff;
    color: #8b8c8f;
}
.send input:active{
    transform: scale(1.1);
}
.geo img{
    width: 100%;
    height: 353px;
}
    



















































