body{
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}
nav{
    width: 100%;
    height: 200px;
    background: #000;
    border-bottom: 2px solid #fff;
    
}
.logo{
    padding: 15px 0px 0px 50px;
    float: left;
}
.menu{
    float: left;
    padding-left: 432px;
    color: #fff;
}
.menu li{
    float: left;
    line-height: 300px;
    color: #fff;
    margin-right: 39px;
    font-size: 20px;
    text-transform: uppercase;
}
.main{
    height: 100%;
    width: calc (100% - 200px);
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png)90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD_1.png) center/cover no-repeat;
    
    
}
.title_container{
    float: left;
    margin: 332px 0px 0px 504px;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 30px;
    font-size: 22px;
}
.about_me{
    text-align: center;
}
.about_me h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 110px 800px 0px 800px;
    border: 2px solid #fff;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
}
.about_me img{
    margin: 40px 0px 50px 0px;
}
.about_me p{
    text-align: match-parent;
    font-size: 16px;
}
.prays{
    background: url(../img/videoblocks-mens-beauty-and-health-concept-various-shaving-and-bauty-care-accessories-placed-on-black-background-with-shaver-brush-cream-towel-and-other-top-view-flat-lay_hfjo11t6i_thumb.png) center/cover no-repeat;
    height: 700px;
    width: 100%;
    margin-top: 110px;
    padding: 1px;
}
.prays h2{
   font-size: 35px;
    border: 2px solid #fff;
    margin: 109px 800px 30px 800px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}
.prays div{
    width: 50%;
    margin-left: 500px;
    padding-top: 10px;
    border-bottom: 2px solid #7F7E7A;
    font-size: 18px;   
}
.gallery img{
    text-align: center;
    height: 200px;
    width:  400px;
    border: 2px solid #fff;
    margin-right:  30px;
    margin-left: 40px;
    margin-top: 20px;
}
.gallery h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 10px 20px 10px;
    margin: 110px 800px 30px 800px;
    border: 2px solid #fff;
}
.sign-up{
    background: url(../img/%D1%84%D0%BE%D0%BD3.png) center/cover no-repeat;
    height: 700px;
    width: 100%;
    margin-top: 110px;
    padding: 1px;
}
.sign-up h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 10px 20px 10px;
    margin: 110px 800px 30px 800px;
    border: 2px solid #fff;
}
.sms{
    text-align: center;
}
.sms input{
    margin: 40px 20px 10px 30px;
    padding: 20px 0px 20px 30px;
    background-color:  #fff;
}
.messadge input{
    margin: 20px 0px 0px 0px;
    padding: 30px 260px 50px 20px;
    text-align: left;
}
.send{
    text-align: center;
}
.send input{
    text-align: center;
    margin: 45px 0px 0px 0px;
    padding: 10px 30px 10px 30px; 
    background: none;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    
}    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    